<div class="beginning">
  <h1>My beginning</h1>
  </br>
  <h2>The story of how I got into web development!</h2>
  </br>
  <h3>Childhood</h3>
  <h4>I was always interested in computers and how they worked, the reason why I always had the latest Windows operating system starting from Windows 95. I also used MS-DOS back in the day when I had it installed on my computer together with Windows '95. Since then, I always had a latent desire to work with technology. </h4>
  </br>
  <h3>Adulthood</h3>
  <h4>In my twenties, I was very interested in international trade. I also wanted to explore the world and so I moved to China where I learned Chinese and did my undergraduate and postgraduate degrees. When I got into the workforce, after a period of time I realised that trading wasn't challenging me enough and I also saw how mass production has a negative influence on the environment.</h4>
  </br>
  <h3>BIG DECISION</h3>
  <h4>Today, when I'm happily writing code, I am really happy that day I made the decision and quit my comfortable job to get into programming. I don't regret it at all as now I see that working can really be a very happy time if you are passionate about what you do.</h4>
  </br>
  <h3>First steps</h3>
  <h4>I started slowly, learning Javascript on Codewars and building sites with Free Code Camp and it really felt right and so satisfying. After a few months I wanted to speed up my studies and also have a bit of guidance, speak to web developers every day who could answer all the questions that I had. Thats when I decided to sign up for the GA WDI course.</h4>
  </br>
  <h3>General Assembly</h3>
  <h3>GA Web Development Immersive was a great next step for me. Intensive studies on a daily basis. Every day new content, working with other developers and making quick progress was just what I needed. Currently, I'm confident buiding front-end and back-end web apps in Javascript, Ruby on Rails and Sinatra. I'm also confident in building React and Node.js/Express apps. I realise that there is still so much to learn, I'm actually really looking forward to it. Learning coding has served me so well and I enjoy it so much! </h3>
  </br>
  <h3>Getting into the industry</h3>
  <h3>Currently, I'm looking for a company that will take me under its wing and nourish me through this amazing journey to become a great full-stack web developer. I can't wait to start working on exciting projects with great people. I don't mind working alone, but working in a team is so much better and more fun! Please contact me if you come across this site and would like to meet me in person for a coding session or to speak on how I could fit into your company. Thanks!</h3>
</div>