<div class="beginning">
  <h1>My beginning</h1>
  </br>
  <h2>The story of how I got into web development!</h2>
  </br>
  <h3>Childhood</h3>
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae tempore illum sit repellendus placeat deleniti ullam consectetur, accusantium quo quam nemo iste corporis nulla ab veritatis id harum dolore.</h4>
  </br>
  <h3>Adulthood</h3>
  <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque rerum minima quibusdam nesciunt doloremque a maxime tempora voluptatem neque dolorem animi unde quos at accusamus nulla quo, explicabo sequi ad!</h4>
  </br>
  <h3>BIG DECISION</h3>
  <h4>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae obcaecati expedita odio possimus voluptate eum ipsum nam debitis nobis magni ab est nisi aspernatur, consequuntur quisquam, temporibus, aperiam mollitia vero.</h4>
  </br>
  <h3>First steps</h3>
  <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, laborum. Totam consequuntur sunt, officia ullam libero deleniti similique. Aspernatur consequuntur, perspiciatis nesciunt placeat at quisquam quae rerum labore ab voluptatibus.</h4>
  </br>
  <h3>GA</h3>
  <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, non ex quas aliquid necessitatibus, natus est dolore aspernatur modi et maxime recusandae odio. Eos, soluta vero perspiciatis modi laboriosam quam.</h3>
</div>