<div class="education">
  <h1>My education</h1>
  </br>
  <h2>General Assembly</h2>
  <h3>Web Development Immersive</h3>
  <h3>3.2018 - 6.2018</h3>
  <h4>Melbourne, Australia</h4>
  <h4>12 week, intensive daily 9am-5pm web development bootcamp. Courses covered front end and back end development, including Ruby on Rails, React, JavaScript, HTML5/CSS3, SQL, NodeJS and Express.</h4>
  </br>
  <h2>Harbin Institute of Technology</h2>
  <h3>Master's degree of International Trade</h3>
  <h3>2011 -2013</h3>
  <h4>Harbin, China</h4>
  <h4></h4>
  </br>
  <h2>Harbin Institute of Technology</h2>
  <h3>Undergraduate's degree in Chinese Language and Literature</h3>
  <h3>2007 - 2011</h3>
  <h4>Harbin, China</h4>
  <h4></h4>
  </br>
</div>