
<div class="extracurriculars">
  <h1>My extracurriculars</h1>
  </br>
  <h3>Founding Vice President</h3>
  <h3>HIT International Students’ Organisation (Harbin,China)</h3>
  <h4>2011-2012</h4>
  <h4>I helped found the student club, which would organize social and cultural events to bridge the gap between international and local Chinese students at HIT.</h4>
  </br></br>
  <h3>Founding President</h3>
  <h3>China Association of Polish Students (Beijing, China)</h3>
  <h4>2010-2012</h4>
  <h4>Together with the Polish ambassador to China, we organized a country-wide student organization as well as building a website to assist Polish students and prospective students in China in dealing with issues like health/banking/legal matters.</h4>
</div>