
<div class="extracurriculars">
  <h1>My extracurriculars</h1>
  </br>
  <h3>Founding Vice President</h3>
  <h3>HIT International Students’ Organisation (Harbin,China)</h3>
  <h4>2011-2012</h4>
  </br></br>
  <h3>Founding President</h3>
  <h3>China Association of Polish Students (Beijing, China)</h3>
  <h4>2010-2012</h4>
</div>