
<video autoplay muted loop id="myVideo">
  <source src="/video/video.mov" type="video/mp4">
  Your browser does not support HTML5 video.
  </video>
<div class="web-dev-container">
  <a class="letter-w" href="/work_experience"><p>W<span class="extra-w">work</br> exp.</span></p></a>
  <a class="letter-e-web" href="/education"><p>E<span class="extra-e">edu</span></p></a>
  <a class="letter-b" href="/beginning"><p>B<span class="extra-b">beginning</span></p></a>
  <a class="letter-d" href="/web_development"><p>D<span class="extra-d">web</br> dev</span></p></a>
  <a class="letter-e-dev" href="/extracurriculars"><p>E<span class="extra-e">extra's</span></p></a>
  <a class="letter-v" href="/values"><p>V<span class="extra-v">values</span></p></a>
</div>