<div class="name-surname">
  <h1>Kasia Misirli</h1>
  <a href="mailto:kasia.misirli@gmail.com">Contact Me</a>
</div>
<div class="web-dev-container">
  <a class="letter-w" href="/work_experience"><p>W<span class="extra-w">work experience</span></p></a>
  <a class="letter-e-web" href="/education"><p>E<span class="extra-e">education</span></p></a>
  <a class="letter-b" href="/beginning"><p>B<span class="extra-b">beginning</span></p></a>
  <a class="letter-d" href="/web_development"><p>D<span class="extra-d">web development</span></p></a>
  <a class="letter-e-dev" href="/extracurriculars"><p>E<span class="extra-e">extracurriculars</span></p></a>
  <a class="letter-v" href="/values"><p>V<span class="extra-v">values</span></p></a>
</div>