<div class="name-surname">
  <h1>Kasia Misirli</h1>
  <h2>and this is my personal website</h2>
</div>
<div class="web-dev-container">
  <a class="letter-w" href="/work_experience">W</a>
  <a class="letter-e-web" href="#">E</a>
  <a class="letter-b" href="#">B</a>
  <a class="letter-d" href="/web_development">D</a>
  <a class="letter-e-dev" href="#">E</a>
  <a class="letter-v" href="#">V</a>
</div>