<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kasia's personal website</title>
  <link rel="stylesheet"  href="/css/style.css?<?=filemtime('/css/style.css');?>">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>
  
  <%= yield %>
  <div class="name-surname">
    <h1>Kasia Misirli</h1>
    <a href="mailto:kasia.misirli@gmail.com">Contact Me</a>
  </div>
  <footer class="icons">
    <a class="home-btn"href="/"><img height="50px" src="/image/h.png" alt=""></a>
    <a class="ga-icon"href="https://profiles.generalassemb.ly/profiles/kasia-misirli"><img height="50px" src="/image/ga.png" alt="ga"></a>
    <a class="github-icon"href="https://github.com/KasiaMisirli"><img height="50px" src="/image/gh2.png" alt="github"></a>
    <a class="linkedin-icon"href="https://www.linkedin.com/in/kasia-misirli/"><img height="50px" src="/image/linkedin.png" alt="linkedin"></a>
  </footer>
</body>
</html>