<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Kasia's personal website</title>
  <link rel="stylesheet"  href="/css/style.css?<?=filemtime('/css/style.css');?>">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>
<body>

  <%= yield %>
  <div class="name-surname">
    <h1>Kasia Misirli</h1>
    <a href="mailto:kasia.misirli@gmail.com">Contact Me</a>
  </div>
  <footer class="icons">
    <a title="Tic-Tac-Toe Game"class="tic-icon"href="https://kasiamisirli.github.io/Rick-Tak-Toe/"> <img height="50px" src="/image/finger.png"></a>
    <a title="Online Shop App"class="ikea-logo" href="https://secondhandfurniture.herokuapp.com/"><img height="50px" src="/image/logo2.png"></a>
    <a title="Web Dev Timeline App" class="dev-logo"href="https://my-dev-journey.herokuapp.com"><img height="50px" src="/image/dev.png" 
    alt=""></a>
    <a title="Learning Chinese App"href="https://kasiamisirli.github.io/Chinese-Learning-App/"><img height="50px" src="/image/ch.png" alt=""></a>
    <a title="Zendesk API Ticket Viewer"class="zen-logo" href="https://zendesk-ticket-viewer.herokuapp.com/"><img  height="50px"  src="/image/zen2.png" alt=""></a>
    <a title="Flight Search Engine"class="fly-logo"href="https://kasiamisirli.github.io/flight_search_engine/"><img height="50px" src="/image/ap.jpg" alt=""></a>
    <a title="My GA profile"class="ga-icon"href="https://profiles.generalassemb.ly/profiles/kasia-misirli"><img height="50px" src="/image/ga.png" alt="ga"></a>
    <a title="My Github"class="github-icon"href="https://github.com/KasiaMisirli"><img height="50px" src="/image/gh2.png" alt="github"></a>
    <a title="My Linkedin profile"class="linkedin-icon"href="https://www.linkedin.com/in/kasia-misirli/"><img height="50px" src="/image/linkedin.png" alt="linkedin"></a>
    <a title="Home"class="home-btn"href="/"><img height="50px" src="/image/h.png" alt=""></a>
  </footer>
</body>
</html>