<div class="values">
  <h1 class="core-values">My core values</h1>
  </br>
  <ul class="values-list">
    <li>Development</li>
    <li>Mastery</li>
    <li>Responsibility</li>
    <li>Family</li>
    <li>Teamwork</li>
  </ul>
</div>