<div class="web-development-ga">
  <h1>Web Development experience</h1> </br>
  <h2>General Assembly</h2>
  <h3>Immersive, 9 to 5, Monday to Friday Web Development Boot Camp.</h3>
  </br></br>
  <h4>Projects Completed: </h4></br></br>
  <h4>1. Rick Tac Toe - an interactive front end tic-tac-toe game built with JS/HTML/CSS. </h4>
  <h4>Github pages</h4>
  <div>
    <a class="project-button" href="https://kasiamisirli.github.io/Rick-Tak-Toe/">Tic Tac Toe</a>
  </div>
  </br></br>
  <h4>2. IKEA's2 - an interactive back end marketplace web app, built with Ruby/ Active Record/ Sinatra/ 
  HTML/CSS. </h4>
  <h4>Used: Carrierwave, Cloudinary, Bcrypt, Mini magic.</h4>
   <h4>Heroku</h4>
  <div>
    <a class="project-button" href="https://secondhandfurniture.herokuapp.com/">Ikea's 2</a>
  </div>
  </br></br>
  <h4>3. My Dev Journey - app built with Ruby on Rails/ Active record/ Javascript/ HTML and CSS.</h4>
  <h4>Used: Bcrypt</h4>
  <h4>Heroku</h4>
  <div>
    <a class="project-button" href="https://my-dev-journey.herokuapp.com">My Dev Journey</a>
  </div>
  </br></br>
  <h4>4. Lucky Wang's Chinese - app build with React. Api was created in NodeJS and Express.</h4>
  <h4>Github pages</h4>
  <div>
    <a class="project-button" href="https://kasiamisirli.github.io/Chinese-Learning-App/">Lucky Wang's 
    Chinese</a>
  </div>
  </br>
  <h2>Coding challenges</h2> </br>
  <h4>Projects Completed: </h4></br></br>
  <h4>1. Flight Search Engine: Flyaway - build with React. Database created with NodeJS and Express</h4>
  <h4>Github pages</h4>

  <div>
  <a class="project-button" href="https://kasiamisirli.github.io/flight_search_engine/">Flyaway</a>
  </div>
  </br></br>
   <h4>2. Zendesk Ticket Viewer - build with Ruby and Sinatra. Testing done with Rspec.</h4>
  <h4>Heroku</h4>
  <div>
  <a class="project-button" href="https://zendesk-ticket-viewer.herokuapp.com/">Zendesk Ticket Viewer</a>
  </div>

</div>