<div class="web-development-ga">
  <h1>Web Development experience</h1>
  <h1>General Assembly</h1>
  <h3>Immersive, 9 to 5, Monday to Friday Web Development Boot Camp.
  Currently learning Ruby, Javascript, CSS and HTML and loving it!
  </br>
  Projects Completed:
  1. Rick Tac Toe - an interactive front end tic-tac-toe game built with JS/HTML/CSS. 
  <a href="https://kasiamisirli.github.io/Rick-Tak-Toe/">Tic Tac Toe</a>
  </br>
  2. IKEA's2 - an interactive back end marketplace web app, built with Ruby/ Active Record/ Sinatra/ HTML/CSS. 
  <a href="https://secondhandfurniture.herokuapp.com/">Ikea's 2</a>
  </br>
  3. My Dev Journey - app built with Ruby on Rails/ Javascript/ HTML and CSS.
  <a href="https://my-dev-journey.herokuapp.com">My Dev Journey</a>
  </br>
  4. Lucky Wang's Chinese - app build with React. Api was created in NodeJS and Express.
  <a href="https://kasiamisirli.github.io/Chinese-Learning-App/">Lucky Wang's Chinese</a>
  </h3>
</div>