<div class="web-development-ga">
  <h1>Web Development experience</h1> </br>
  <h2>General Assembly</h2>
  <h3>Immersive, 9 to 5, Monday to Friday Web Development Boot Camp.</h3>
  </br></br>
  <p>Projects Completed: </p></br></br>
  <p>1. Rick Tac Toe - an interactive front end tic-tac-toe game built with JS/HTML/CSS. </p>
  <div>
    <a class="project-button" href="https://kasiamisirli.github.io/Rick-Tak-Toe/">Tic Tac Toe</a>
  </div>
  </br></br>
  <p>2. IKEA's2 - an interactive back end marketplace web app, built with Ruby/ Active Record/ Sinatra/ 
  HTML/CSS. </p>
  <div>
    <a class="project-button" href="https://secondhandfurniture.herokuapp.com/">Ikea's 2</a>
  </div>
  </br></br>
  <p>3. My Dev Journey - app built with Ruby on Rails/ Javascript/ HTML and CSS.</p>
  <div>
    <a class="project-button" href="https://my-dev-journey.herokuapp.com">My Dev Journey</a>
  </div>
  </br></br>
  <p>4. Lucky Wang's Chinese - app build with React. Api was created in NodeJS and Express.</p>
  <div>
    <a class="project-button" href="https://kasiamisirli.github.io/Chinese-Learning-App/">Lucky Wang's 
    Chinese</a>
  </div>
</div>