<div class="work-experience"><h1>My work experience</h1>
  <h2>Albi Imports</h2>
  <h3>Buyer's Assistant</h3>
  <h4>Dates: January 2017 - March 2018</h4>
  <h4>Albi is a leading supplier/distributor of homewares and kitchenware in Australia and New Zealand, whilst also exporting to countries in Asia, Europe and North America. Albi supplies tier 1 retail chains like Stevens, Harris Scarfe and Freedom.
  </br> 
  I was involved in project management, sourcing, supplier communications, regulatory compliance and product development.</h4>
  <a href="https://www.albi.com.au/">Albi's website</a>
  </br>
  <div class="middle-work-experience">&#9871;&#9871;&#9871;</div></br>
  <h2>FBA Imports</h2>
  <h3>Buyer's Assistant</h3>
  <h4>Dates: September 2015 - may 2016</h4>
  <h4>FBA is a manufacturer and wholesaler of homeware and kitchenware products. With its own production facility in China and distribution centre in Melbourne, FBA supplies a large group of tier 1 retail chains in Australia.
  </br>
  I was involved in sourcing, purchasing and the project management associated with delivering orders to our various clients.</h4>
  <a href="http://www.fba.com.au/">FBA's website</a>
  </br>
   <div class="middle-work-experience">&#9871;&#9871;&#9871;</div></br>
  <h2>Central Equity</h2>
  <h3>Property Consultant</h3>
  <h4>Dates: March 2015 - August 2015</h4>
  <h4>Central Equity is one of Melbourne's largest and most experienced residential property developers, with over AUD$3 billion of completed projects. 
  I was involved in business development, sourcing international investors and working through all stages of the sales process.</h4>
  <a href="https://centralequity.com.au/">Central Equity's website</a>
  </br>
   <div class="middle-work-experience">&#9871;&#9871;&#9871;</div></br>
  <h2>Dajar</h2>
  <h3>Merchandiser</h3>
  <h4>Dates: Feb 2014 - December 2014</h4>
  <h4>Dajar specialises in wholesale and retail of kitchenware and homeware to tier 1 European supermarket chains. I have managed to completion over 30 procurement projects, worth over USD$11 million. I was responsible for following up on orders, negotiating with Chinese suppliers, sourcing new suppliers and products.</h4>
  <a href="https://dajar.co.uk/">Dajar's website</a>
  </br>
</div>