*{
  margin:0;
  padding:0;
  border:0;
  }

body {
  background-color: #340609;
}
.web-dev-container {
  font-size: 100px;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: center;
  margin-top: 20%;
  
}
a {
  text-decoration: none;
  color: #968D48;

}
.name-surname {
  text-align: right;
  color: #F1C451;
  margin: 3% 3% 0 0;
}
.letter-w {
  margin-right: 2%;
}
.letter-w:hover {
  color: #E6A042;
  font-size: 110px;
}
.letter-e-web {
  margin-right: 2%;
}
.letter-e-web:hover {
  color: #E6A042;
  font-size: 110px;
}
.letter-b {
  margin-right: 2%;
}
.letter-b:hover {
  color: #E6A042;
  font-size: 110px;
}
.letter-d {
  margin-left: 5%;
}
.letter-d:hover{
  color: #E6A042;
  font-size: 110px;
}
.letter-e-dev {
  margin-left: 2%;
}
.letter-e-dev:hover {
  color: #E6A042;
  font-size: 110px;
}
.letter-v {
  margin-left: 2%;
}
.letter-v:hover {
  color: #E6A042;
  font-size: 110px;
}
.work-experience {
  color:#BCBC87;
  margin: 15%;


}
.middle-work-experiance{
  text-align: center;
}
.web-development-ga {
  color: #BCBC87;
  margin: 15%;
}
.education {
  color: #BCBC87;
  margin: 15%;
}


.extra-w { 
  display: none;
}

p:hover .extra-w {
  display: block;
  font-size: 20px;
}
.extra-e {
  display: none;
}

p:hover .extra-e {
  display: block;
  font-size: 20px;
}
.extra-b {
  display: none;
}
p:hover .extra-b {
  display: block;
  font-size: 20px;
}
.extra-d {
  display: none;
}
p:hover .extra-d {
  display: block;
  font-size: 20px;
}
.extra-e {
  display: none;
}
p:hover .extra-e {
  display: block;
  font-size: 20px;
}
.extra-v {
  display: none;
}
p:hover .extra-v {
  display: block;
  font-size: 20px;
}
.project-button {
  background-color: #911702;
}
.extracurriculars {
  color: #BCBC87;
  margin: 15%;
}
.values {
  color: #BCBC87;
  margin: 15%;
}
.values-list {
  font-size: 20px;
}
.beginning {
  color: #BCBC87;
  margin: 15%;
}
.icons {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  margin: 0 0 3% 3%;
}